<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MediaCreator</display-name>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>MediaCreator.Web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BarcodeImage</display-name>
    <servlet-name>BarcodeImage</servlet-name>
    <servlet-class>MediaCreator.Web.BarcodeImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BarcodeImage</servlet-name>
    <url-pattern>/BarcodeImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MediaCreateMain</display-name>
    <servlet-name>MediaCreateMain</servlet-name>
    <servlet-class>MediaCreator.Web.MediaCreateMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MediaCreateMain</servlet-name>
    <url-pattern>/MediaCreateMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckResultAjax</display-name>
    <servlet-name>CheckResultAjax</servlet-name>
    <servlet-class>MediaCreator.Web.CheckResultAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckResultAjax</servlet-name>
    <url-pattern>/CheckResultAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAjax</display-name>
    <servlet-name>LoginAjax</servlet-name>
    <servlet-class>MediaCreator.Web.LoginAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAjax</servlet-name>
    <url-pattern>/LoginAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiptSheet</display-name>
    <servlet-name>ReceiptSheet</servlet-name>
    <servlet-class>MediaCreator.Web.ReceiptSheet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptSheet</servlet-name>
    <url-pattern>/ReceiptSheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>History</display-name>
    <servlet-name>History</servlet-name>
    <servlet-class>MediaCreator.Web.History</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientInfo</display-name>
    <servlet-name>PatientInfo</servlet-name>
    <servlet-class>MediaCreator.Web.PatientInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientInfo</servlet-name>
    <url-pattern>/PatientInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReadme</display-name>
    <servlet-name>GetReadme</servlet-name>
    <servlet-class>MediaCreator.Web.GetReadme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReadme</servlet-name>
    <url-pattern>/GetReadme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowViewC</display-name>
    <servlet-name>ShowViewC</servlet-name>
    <servlet-class>MediaCreator.Web.ShowViewC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowViewC</servlet-name>
    <url-pattern>/ShowViewC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Help</display-name>
    <servlet-name>Help</servlet-name>
    <servlet-class>MediaCreator.Web.Help</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Help</servlet-name>
    <url-pattern>/Help</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkTimeWarning</display-name>
    <servlet-name>WorkTimeWarning</servlet-name>
    <servlet-class>MediaCreator.Web.WorkTimeWarning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkTimeWarning</servlet-name>
    <url-pattern>/WorkTimeWarning</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorPage</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ErrorPage</display-name>
    <servlet-name>ErrorPage</servlet-name>
    <servlet-class>MediaCreator.Web.ErrorPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorPage</servlet-name>
    <url-pattern>/ErrorPage</url-pattern>
  </servlet-mapping>
</web-app>