<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >

    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="File" value="C:/Program Files/Apache Software Foundation/Tomcat 6.0/logs/MediaCreator.log" /> -->
		<param name="File" value="C:/Webapps/MediaCreator.log" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %5p - %m %n" />
		</layout>
	</appender>

	<logger name="MediaCreator">
		<level value="debug" />
		<appender-ref ref="file" />
	</logger>

</log4j:configuration>
