<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type=" log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MediaCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="RisToReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

  <log4net>
    <!-- ログ出力先の定義 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">

      <!-- ログファイルLockモード 複数プロセスから書き込み可 -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>

      <!-- ログ・ファイル名の先頭部分 -->
      <param name="File" value=".\log\MediaCreator"/>

      <!-- 追加書き込み -->
      <param name="AppendToFile" value="true"/>

      <!-- 日付ごとにファイルを作成することを指定 -->
      <param name="RollingStyle" value="date"/>

      <!-- ログ・ファイル名が固定ではないので“false”を指定 -->
      <param name="StaticLogFileName" value="false"/>

      <!-- ファイル名の日付部分 -->
      <param name="DatePattern" value="&quot;.&quot;yyyyMMdd&quot;.log&quot;"/>

      <layout type="log4net.Layout.PatternLayout">
        <!-- ログの書式 -->
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss} [%8property{pid}] [%5thread] [%-5level] %message%newline"/>
      </layout>
    </appender>
    <root>
      <!-- ログのレベルを指定 -->

      <!-- すべてのログレベルを出力 -->
      <level value="ALL"/>

      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>

  </log4net>

  <applicationSettings>
        <MediaCreator.Properties.Settings>
              <!--<setting name="ConnectionString" serializeAs="String">
                    <value>User Id=rris_twmu; password=rris_twmu1; Data Source=TWMU_RRIS;</value>
              </setting>-->

			<setting name="ConnectionString" serializeAs="String">
				<value>User Id=rris; password=rris1; Data Source=RRIS;</value>
			</setting>
			
              <setting name="Interval" serializeAs="String">
                    <value>1000</value>
              </setting>
              <!--<setting name="OrderDataFolder" serializeAs="String">
                    <value>\\192.168.100.200\yokogawa\ma_町田市民病院\Publisher-AOC\REQUEST</value>
              </setting>
              <setting name="OrderLogFolder" serializeAs="String">
                    <value>\\192.168.100.200\yokogawa\ma_町田市民病院\Publisher-AOC\LOG</value>
              </setting>
              <setting name="ResultDataFolder" serializeAs="String">
                    <value>\\192.168.100.200\yokogawa\ma_町田市民病院\Publisher-AOC\RESULT</value>
              </setting>
              <setting name="ResultLogFolder" serializeAs="String">
                    <value>\\192.168.100.200\yokogawa\ma_町田市民病院\Publisher-AOC\LOG</value>
              </setting>
              <setting name="ResultDataBackupFolder" serializeAs="String">
                    <value>\\192.168.100.200\yokogawa\ma_町田市民病院\Publisher-AOC\BKUP</value>
              </setting>-->
			  
			<setting name="OrderDataFolder" serializeAs="String">
                    <value>C:\広島大学病院_LOG\REQUEST</value>
              </setting>
              <setting name="OrderLogFolder" serializeAs="String">
                    <value>C:\広島大学病院_LOG\LOG</value>
              </setting>
              <setting name="ResultDataFolder" serializeAs="String">
                    <value>C:\広島大学病院_LOG\RESULT</value>
              </setting>
              <setting name="ResultLogFolder" serializeAs="String">
                    <value>C:\広島大学病院_LOG\LOG</value>
              </setting>
              <setting name="ResultDataBackupFolder" serializeAs="String">
                    <value>C:\広島大学病院_LOG\BKUP</value>
              </setting>
			
              <setting name="NetworkUser" serializeAs="String">
                    <value>administrator</value>
              </setting>
              <setting name="NetworkPass" serializeAs="String">
                    <value>Cosmo-1101c</value>
              </setting>
              <setting name="strHostName" serializeAs="String">
                    <value>127.0.0.1</value>
              </setting>
              <setting name="strAEtitle" serializeAs="String">
                    <value>MediaCreat</value>
              </setting>
              <setting name="iPortNum" serializeAs="String">
                    <value>5000</value>
              </setting>
              <setting name="strQueryAEtitle" serializeAs="String">
                    <value>QueryAE</value>
              </setting>
              <setting name="strMoveAEtitle" serializeAs="String">
                    <value>MoveAE</value>
              </setting>
              <setting name="iMovePortNum" serializeAs="String">
                    <value>5100</value>
              </setting>
              <setting name="ProtocolName" serializeAs="String">
                    <value>DICOM</value>
              </setting>
        </MediaCreator.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
